$black-clr: #000;
$primry-clr:#19E58C;
$gradient-clr:linear-gradient(131.35deg, #26289F 11.92%, #2442BA 85.42%);
$dark-blue:#001647;
$white-clr:#FFFFFF;
$black-clr:#414141;
$grey-clr:#F8F8F8;
$light-purple-clr:#8B849B;
$light-grey-clr:#D5D4DC;
$border-hover-clr:#2536ad;
$transparent-layer: rgba(0,0,0,0.2);
